<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	<title>Sightings</title>
    </head>

    <body style = "background-color:tomato">
        <h1> <a href = '/sightings/add'>Add new squirrel</a> </h1>
	<p>
	<h1> Link to edit/view all squirrels. </h1>   
	    <ul>
		{% for squirrel in squirrels %}
		<li> <a href='/sightings/{{squirrel.Unique_Squirrel_ID}}/'> {{squirrel.Unique_Squirrel_ID}} </a> </li>
		{% endfor %}
	</ul>
	    <p><a href='/'>Return to main page</a></p>
    </body>

</html>
