<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	<title>Additional Statistics </title>
    </head>

    <body style = "background-color:tomato">
        <h1> We found some additional squirrel stats </h1>
	<p>
	    <ul>
	       <li>Percentage of squirrels seen running: {{running_percent}}</li>
	       <li>Percentage of squirrels seen chasing: {{chasing_percent}}</li>
	       <li>Percentage of squirrels seen climbing: {{climbing_percent}}</li>
	       <li>Percentage of squirrels seen eating: {{eating_percent}}</li>
	       <li>Percentage of squirrels seen foraging: {{foraging_percent}}</li>
	    </ul>
	    <p><a href='/'>Return to main page</a></p>
    </body>

</html>
